/* LONE ELEMENTS */
body {
    margin: 0px auto;
    min-height: 800px;
}

a, a:visited {
    text-decoration: none;
    font-family: "Arial";
    color: #0098f9; 
}

input {
    border-radius: 5px;
}

/* HTML */

html.base_class { 
    background-color: black;
    font-family: "Arial";
    color: #0098f9; 
}

h1 {
    color: white;
    font-size: 24px;
}

/* HEADER */

#header {
}

div.title {  
    height: 80px;
    margin: auto;
    width: 80%;
    min-width: 800px;
    border-bottom: 1px solid #404040;
}

div.title li {
    display: inline;
}

div.title img {
    height: 80px;
    width: 400px;
    vertical-align:middle;
    display: inline;
}

form.search {
    display: inline;
    margin: 6px;
    
}

form.search input[type=text] {

    height: 25px;
    background-color: #404040;
    color: white;
    border: none;
    padding: 0px 10px 0px 10px;
    width: 180px;
}

a.mykp {
    float: right;
    margin-left: 1%;
    color: white;
    padding: 10px;
    background-color: #0098f9;
    border-radius: 5px;

}

div.menu {
    width: 85%;
    min-width: 800px;
    margin: auto;
    color: #0098f9;
    text-align: center;
}

div.menu a {
    font-size: 20px;
    color: #FFFFFF;
    padding: 10.5px 11px;
    text-decoration: none;
    border-radius: 10px;
}

div.menu a:hover {
    background-color: #0098f9;
}

div.menu ul {
    padding-bottom: 10px;
}

div.menu li {
    display: inline;
}

li.current a,
li.current a:hover {
    background-color:#833f00;
}

input.button {
    background-color: #0098f9;
    color: white;
    border: none;
    height: 25px;
    width: 60px;
    margin-left: 5px;
    vertical-align: middle;
}

/* FOOTER */
div.footer {
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    min-width: 800px;
    background-color: #404040;
    text-align: center;
}

div.footer a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

div.footer a:hover {
    color: #0098f9;
}

div.footer li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

/* FEATURED VIDEO */
div.featured_video {
    text-align: center;
    margin: 0 auto;
    float: left;
}

div.content a {
    color: white;
}

#clear {
    clear: both;
}



